#header{
    background-color: whitesmoke;
    width: 1349px;
    height: 90px;
    top:-1px;
    
}
header{
    position: fixed;
    z-index: 100;
}
body{
    background-color: #1CC8E3;
    margin: 0px;
}
.logo{
    width: 120px;
    height: 70px;
    padding-top: 9px;
    margin-left: 10px;
}
#smallpp{
    width: 30px;
    height: 30px;
    /* border-radius: 30px; */
    top:-20px;
    position: relative;
    padding-left: 1080px;
}
.myaccount{
    color: rgba(89, 3, 11, 0.82) ;
    font-weight: bold;
    font-family: Microsoft Yahei UI;
    font-size: 15px;
    top:-28px;
    left:5px;
    position: relative;
}
.links{
    color:whitesmoke;
    font-family: Microsoft Yahei UI;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
    display: block;
    text-decoration: none;
    border-bottom: 1px dotted whitesmoke;
    width: initial;
    height: auto;
    padding-bottom: 20px;
    top: -5px;
    position: relative;
    letter-spacing: 4px;
}
.links.active{
    background-color:#C8E31C;
}
.icon{
    width: 20px;
    height: 20px;
}
nav{
    flex-direction: column;
    margin-top: 35px;
    top:-30px;
    position: relative;
}
.links:hover{
    background-color: #C8E31C;
}
.navigation{
    width:300px;
    height:fit-content auto;
    background-color: transparent;
    border-right: 1px solid #C8E31C;
    top: 89px;
    position: fixed;
}
.profilepic{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    top:10px;
    left:95px;
    opacity: 1;
    position: relative;
}
.text{
  opacity: 0;
}
.container:hover .profilepic{
    opacity: 0.3;
}
.container:hover .text{
    opacity: 1;
}
.uploadpc{
    text-decoration: none;
    top:43px;
    position: absolute;
    margin-left: 122px;
    font-family: Microsoft YaHei UI;
    font-size: 13px;
    color: #1CC8E3;
    width: 100%;
    opacity: 1;
    font-weight: bold;
}
#pp{
    opacity: 1;
}

.portfolio{
    background-color: lavenderblush;
    width: 300px;
    height: 400px;
    box-shadow: #C8E31C;
    left:390px;
    top:195px;
    position:absolute;
}
#nameoftheperson{
    color: lightgreen;
    font-weight: bold;
    font-size: 18px;
    font-family: Microsoft Yahei UI;
   text-align: center;
}
#titleoftheperson{
    font-size: 15px;
    font-family: Microsoft Yahei UI;
    padding-left: 10px;
}
#usernameoftheperson{
    font-size: 15px;
    font-family: Microsoft Yahei UI;
    padding-left: 10px;
}
#schooloftheperson{
    font-size: 15px;
    font-family: Microsoft Yahei UI;
    padding-left: 10px;
}
#facultyoftheperson{
    font-size: 15px;
    font-family: Microsoft Yahei UI;
    padding-left: 10px;
}
#locationoftheperson{
    font-size: 15px;
    font-family: Microsoft Yahei UI;
    padding-left: 10px;
}
.btn{
    border-radius: 2px;
    background-color: #C8E31C;
    color: white;
    border: none;
    font-size: 15px;
    height: 30px;
    margin-left: 27px;
    margin-top:20px;
}
.aboutmediv{
      width: 550px;
      height: 300px;
      background-color:whitesmoke;
      left: 780px;
      top:90px;
      position: relative;
      border-radius: 10px;
}
#titlediv{
    font-family: Microsoft Yahei UI;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 20px;
}
.edit{
    margin-left: 480px;
    top:-13px;
    position: absolute;
    width:50px;
    height: 25px;
}
#abouttext{
    padding-top: 10px;
    padding-left: 20px;
    width: auto;
    font-family: Microsoft Yahei UI;
    font-size: 14px;
}
#toptitle{
    background-color: white;
    width: inherit;
    height: 15%;

}
#copyrightss{
	width: 1366px;
	height: 40px;
	background-color: black;
	margin-left:-410px;
	color: #C8E31C;
	font-family: Microsoft YaHei UI;
    font-size: 15px;
    top:200px;
    position: absolute;
}
#copy
{
	top:-5px;
	left:580px;
	position: absolute;
}
#copy a{
	text-decoration: none;
	color: #C8E31C;
}
.error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }

#editarea{
      top:149px;
      left:780px;
      width:540px;
      position:absolute;
      /*background-color: lightcoral;*/
      display: none;
  }
  #editarea2{
    top:464px;
    left:780px;
    position: absolute;
    /*background-color: lightcoral;*/
    display: none;
  }
  #editarea3{
    top:779px;
    left:780px;
    position: absolute;
/*background-color: lightcoral;*/
    display: none;
  }
  #editedbio{
    width:545px;
    height: 250px;
    resize: none;
    font-family: Microsoft YaHei UI;
    animation-delay: .3;
  }
  #savebutton{
    left:0px;
    top:-57px;
    position: absolute;
  }

  .updateform{
    left:440px;
    top: 240px;
    position: absolute;
    background-color: #C8E31C;
    border:1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    transform: scale(1.5,1.5);
  }
  #updateform{
    display: none;
  }
  label{
    font-family: Microsoft YaHei UI;
    font-size: 15px;
  }
  input{
    border-radius: 5px;
    border: none;
    color: black;
    font-family: Microsoft Yahei UI;
    font-size: 15px;
  }
  input[type=submit]{
    background-color: #1CC8E3;
  }

  .cancel{
    background-color: black;
    left:-20px;
    position: relative;
  }
  .updatebtn{
    left:-10px;
    position: relative;
  }

  /*fpr profile picture*/

  .container{

  }



  #applications{
    display: none;
  }
  #aboutme{
    display: block;
  }
   #jobs{
    display: none;
  }
  #Internships{
    display: none;
  }
   #Resources{
    display: none;
  }
  #aboutme{
    display: block;
  }
  #formtoupload{
    /*display: none;*/
    width: 300px;
    height: 100px;
    background-color: red;
    transform: scale(1,1);
    display: none;
  }