#postjob{
	width: 600px;
	height: 570px;
	background-color: white;
	left:530px;
	top:120px;
	position: absolute;
	border-radius: 10px;
	border-style: solid;
	border-width: 4px;
	border-color: orange;
	transform: scale(1,1);
	z-index: 100;
}
#postjob2{
	width: 600px;
	height: 570px;
	background-color: white;
	left:530px;
	top:120px;
	position: absolute;
	border-radius: 10px;
	border-style: solid;
	border-width: 4px;
	border-color: orange;
	transform: scale(1,1);
	z-index: 100;
}
#postbanner{
	width:200px;
	height: 40px;
	background-color: white;
	left:200px;
	top:-23px;
	position: relative;
	text-align: center;
	font-size: 20px;
	font-family: Microsoft Yahei UI;
	font-weight: bold;
	border-radius: 10px;
	border-style: solid;
	border-color: orange;
	background-color: orange;
	color: white;
}
label{
	text-align: center;
	left:260px;
    position: relative;
    color: #808080;
    font-size: 17px;
}
input[type=text], select{
	width: 300px;
	height: 35px;
	background-color: transparent;
	border-radius: 4px;
	border-color: orange;
	border-style: solid;
}
#jobtitle{
	top:30px;
	left:70px;
	position: relative;
}
#jobentrylevel{
	border-width: 3px;
	top:150px;
	left:30px;
	position:absolute;
	width: 190px;
	height: 35px;
	font-family: Microsoft Yahei UI;
	color: #808080;
}
#entrylevellabel{
	left:33px;
	top:130px;
	position: absolute;
}
option{
	background-color:orange; 
}
#jobindustry{
	top:150px;
	left:370px;
	position: absolute;
	width:190px; 
	height: 27px;
	border-width: 3px;
}
#jobindustrylabel{
	top: 130px;
	position: absolute;
	left:373px;
}
textarea{
	width: 300px;
	height: 35px;
	background-color: transparent;
	border-radius: 4px;
	border-color: orange;
	border-style: solid;
	top:230px;
	position: absolute;
	left:30px;
	width: 530px;
	height: 200px;
	resize: none;
	font-family: Microsoft Yahei UI;
	font-size: 17px;
	border-width: 3px;

}
::placeholder{
	font-size: 13px;
}
#jobdescriptionlabel{
	top: 210px;
	position: absolute;
	left:30px;
}
#alternative{
	font-size: 15px;
	font-family: Microsoft Yahei UI;
	font-weight: bold;
	top:430px;
	left:135px;
	position: absolute;
}
input[type=file]{
	width: 220px;
	height: 20px;
	background-color: transparent;
	border-radius: 4px;
	border-color: orange;
	border-style: solid;
	top:405px;
	left:170px;
	position: relative;
}
input[type=submit]{
	top:510px;
	left:30px;
	position: absolute;
	background-color: orange;
	width: 540px;
	height: 40px;
	border-radius: 0px;
    font-family: Microsoft Yahei UI;
    font-size: 20px;
    color: white;
}

.label{
	left:0px;
	position: relative;
	font-size: 13px;
}
.updatebtn{
	/* background-color: white; */
	background:white;
	color:black;
	left:-20px;
	position: relative;
}
.cancel{
	left:150px;
	position: relative;
}
#mybtns{
	left:-20px;
	position: relative;
}
.activejobs{
	top:-470px;
	position: relative;
	height: fit-content;
	text-align: left;
	margin-top: 70px;
}
.statistics{
	top:-10px;
	position: relative;
	
}
.edit{
	top:-18px;
	position: absolute;
}
.deadjobs{
	background-color: darkgrey;
}
.updateform{
transform: scale(1,1);
z-index: 100;
margin-top: 40px;
margin-left: -65px;
}
.portfolio{
	height: fit-content;
}
.postbtn{
	background-color:orange;
	text-align: center;
	top:18px;
	left: 320px;
	position: fixed;
	border: none;
	color: white;
	font-family: Microsoft Yahei UI;
	font-size: 40px;
	width: 700px;
	z-index: 200;
}
.closeimage{
	width: 30px;
	height: 30px;
	top:-15px;
	left:578px;
	position: absolute;
}
#postjob{
	display: none;
	/* z-index: 300; */
}
#postjob2{
	display: none;
	/* z-index: 300; */
}
#jobbdead{
	left: -110px;
	position: absolute;}

#deadlinelabel{
	left:370px;
	top:10px;
	position: relative;
}
#Deadline{
	left:370px;
	top:75px;
	position: absolute;;
	width: 200px;
	height: 35px;
	background-color: transparent;
	border-radius: 4px;
	border-color: orange;
	border-style: solid;
}	
#jobtitle{
	width:180px;
}
#jobtitlelabel{
	left: 148px;
	position: relative;
}